.main-bar
  .main-bar__head
    .maim-bar__top-items
      .main-bar__group-name 
        test
      .main-bar__members-list 
        Member:
        .main-bar__group-members
          masa
    .main_bar__edit-btn 
      = link_to 'Edit', '#'

  .main-bar__message-list
  .main-bar__message-form