.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name masa
      %ul.top-items__icons
        %li.top-items__icons--edit 
        = link_to "#" do
          = icon('far', 'edit')
        %li.top-items__icons--cog 
        = link_to "#"  do
          = icon('fas', 'cog')
  .side-bar__group-list
    .bottom-items
      .bottom-items__group techcamp
      .bottom-items__message まだメッセージはありません