* {
  box-sizing: border-box;
}

// サイドバー
.side-bar_user-name{
  height: 100vw;
  width: 300px;
  background-color: #253141;  
}

// メインバー
.main-bar_group-name {
  height: 100vw;
  width: calc(100vw - 300px);
  background-color: #ffffff;
} 